/** @format */

.existing-reservation {
  margin-top: 30px;
  border-radius: 5px;
}
.res-range {
  padding-top: 80px;
  margin-top: 10px;
}
.land-selection {
  .ls-heading {
    h1 {
      color: #063561;
      font-size: 3rem;
      text-transform: capitalize;
      text-align: center;
      // font-weight: bold;
    }
  }
  .fav-count {
    border-bottom: 3px solid #1f4e79;
    ul {
      li {
        padding: 5px 0;
        list-style-type: none;
        h2 {
          // font-weight: bold;
          color: #1f4e79;
          font-size: 2.5rem;
        }
      }
    }
  }
  p {
    margin-top: 10px;
    border: 1px solid #1f4e79;
    font-weight: bold;
    width: 160px;
    border-radius: 5px;
    font-size: 1.5rem;
    text-transform: capitalize;
    color: #1f4e79;
    background-color: white;
    padding: 3px;
    text-align: center;

    cursor: pointer;
    &:hover {
      color: white;
      transition: 0.5s;
      background-color: #1f4e79;
    }
  }
}
@media only screen and (max-width: 600px) {
  .land-selection {
    .ls-heading {
      h1 {
        font-size: 2rem;
      }
    }
  }
}
