/** @format */
$themecolor: #063561;

.profile-edit-user {
  text-transform: capitalize;
  color: $themecolor;
  width: 50%;
  h1 {
    text-transform: uppercase;
    font-size: 2rem;
  }
  p {
    font-size: 1.3rem;
    display: inline;
    text-transform: uppercase;
  }
  input {
    border: 1px solid $themecolor;
    outline: none;
    width: 100%;
    margin-left: 25px;
    padding-left: 10px;
    border-radius: 5px;
    text-transform: capitalize;
    font-size: 1.2rem;
    color: $themecolor;
  }
  .row {
    margin-top: 10px;
  }
  button {
    text-transform: capitalize;
    border: none;
    padding: 4px;
    width: 100px;
    border-radius: 5px;
    color: white;
    font-size: 1.2rem;
    background-color: #215aae;

    &:hover {
      background-color: #1f4e79;
    }
  }
}
@media only screen and (max-width: 600px) {
  .profile-edit-user {
    width: 70%;
    input {
      width: 100%;
    }
  }
}
