/** @format */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f7f2e0;
}
.seller-info {
  table {
    th {
      font-size: 1.4rem;
      outline: none;
      border: none;
      text-transform: capitalize;
      background-color: #c55a11;
      color: white;
    }
    td {
      font-size: 1.2rem;
      font-weight: bold;
      color: #1f4e79;
    }
  }
}
.afr-heading {
  h1 {
    font-size: 3.2rem;
    // font-weight: bold;
    // padding: 10px;
    margin: 0;
    width: 100%;
    text-transform: capitalize;
    text-align: center;
    color: white;
    background-color: #1f4e79;
    margin-top: 50px;
  }
}
.avail-for-rent {
  table {
    th {
      font-size: 1.4rem;
      outline: none;
      border: none;
      text-transform: capitalize;
      background-color: #c55a11;
      color: white;
    }
    td {
      p {
        border: 1px solid #1f4e79;
        font-weight: bold;
        border-radius: 5px;
        font-size: 1.2rem;
        text-transform: capitalize;
        color: #1f4e79;
        background-color: white;
        padding: 5px;

        cursor: pointer;
        &:hover {
          color: white;
          transition: 0.5s;
          background-color: #1f4e79;
        }
      }
    }
  }
}
.rangedata {
  table {
    overflow: scroll;
    background-color: #deebf7;
    height: 40vh;
    font-size: 1.4rem;
    th {
      text-transform: capitalize;
      outline: none;
      border: none;
      color: #1f4e79;
    }
  }
}

@media only screen and (max-width: 600px) {
  .seller-info {
    table {
      width: 900px;
    }
  }
  .avail-for-rent {
    table {
      width: 900px;
    }
  }
  .rangedata {
    table {
      width: 900px;
    }
  }
}
