/** @format */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f7f2e0;
}

.seller-info {
  table {
    th {
      font-size: 1.4rem;
      outline: none;
      border: none;
      text-transform: capitalize;
      background-color: #c55a11;
      color: white;
    }
    td {
      font-size: 1.2rem;
      font-weight: bold;
      color: #1f4e79;
    }
  }
}
.afr-heading {
  h1 {
    width: 100%;
    font-size: 3.2rem;
    margin-top: 50px;
    margin-bottom: 0;
    text-transform: capitalize;
    text-align: center;
    color: white;
    background-color: #1f4e79;
  }
}
.universal-table {
  table {
    th {
      font-size: 1.3rem;
      outline: none;
      border: none;
      text-transform: capitalize;
      background-color: #c55a11;
      color: white;
    }
    td {
      padding-top: 20px;
      p {
        font-weight: bold;
        border-radius: 5px;
        font-size: 1.2rem;
        text-transform: capitalize;
        color: #1f4e79;

        cursor: pointer;
      }
      button {
        border: none;
        padding: none;
        padding: 4px;
        width: 60px;
        border-radius: 5px;
        background-color: #1f4e79;
        color: white;
      }
    }
    tr {
      &:hover {
        background-color: #d7ead7;
      }
    }
    tr:nth-child(even) {
      background-color: #fcfaf4;
      &:hover {
        background-color: #d7ead7;
      }
    }
  }
}
.rangedata {
  table {
    overflow: scroll;
    background-color: #deebf7;
    height: 40vh;
    font-size: 1.4rem;
    th {
      text-transform: capitalize;
      outline: none;
      border: none;
      color: #1f4e79;
    }
  }
}

@media only screen and (max-width: 600px) {
  .afr-heading {
    font-size: 1rem;
  }
  .seller-info {
    table {
      width: 800px;
    }
  }
  .universal-table {
    table {
      width: 900px;
    }
  }
  .rangedata {
    table {
      width: 900px;
    }
  }
}
