/** @format */

$themecolor: #063561;

.date-selection {
  h1 {
    font-size: 3rem;
    text-transform: capitalize;
    color: $themecolor;
  }

  .date-picker {
    input {
      outline: none;
      color: $themecolor;
      font-size: 1.3rem;
      font-weight: bold;
      //   padding: 5px;
      text-align: center;
      width: 100%;
    }
  }
  p {
    margin: 0;
    border: 1px solid $themecolor;
    cursor: pointer;
    display: inline-block;
    padding: 4px 0;
    border-radius: 5px;
    width: 9rem;
    color: $themecolor;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    outline: none;
    outline: none;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: white;
      // border-radius: 5px;
      z-index: -2;
    }
    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
      transition: all 0.6s;
      background-color: $themecolor;
      // border-radius: 5px;
      z-index: -1;
    }
    &:hover {
      color: #fff;
      &:before {
        width: 100%;
      }
    }
  }
  .selected-res {
    color: white;
    &:after {
      background-color: $themecolor;
    }
  }
}
.cheackIn-out {
  padding: 30px 30px;
  border-radius: 5px;
  background-color: #afcbe667;
  text-transform: capitalize;
  p {
    font-size: 1.5rem;
    color: $themecolor;
  }
  h1 {
    color: $themecolor;
  }
  input {
    color: $themecolor;
    text-transform: capitalize;
    padding: 0 10px;
    border-radius: 5px;
    font-size: 1.4rem;
    border: 2px solid #d2d1cf;
    outline: none;
    &::placeholder {
      color: $themecolor;
    }
  }
}
.points-table {
  table {
    text-transform: capitalize;
    th {
      background-color: $themecolor;
      color: white;
    }
  }
  tbody {
    th {
      background-color: #478bca;
    }
    tr {
      &:hover {
        background-color: #d7ead7;
      }
    }
    tr:nth-child(even) {
      background-color: #fcfaf4;
      &:hover {
        background-color: #d7ead7;
      }
    }
  }
}
