/** @format */
/** @format */
.header {
  z-index: 1000;
}

.header .main-nav {
  text-transform: uppercase;
  background-color: #215aae;
  color: white;
}

.header .main-nav .main-brand-name {
  font-weight: bold;
  color: white;
  font-size: 1.5rem;
}

.header .main-nav ul li {
  display: inline;
  list-style: none;
  padding: 6px 15px;
}

.header .main-nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

.header .main-nav ul li a p {
  cursor: pointer;
  margin: 0;
  text-align: center;
  font-size: 0.9rem;
}

.header .offcanvas {
  background-color: #fcfaf4;
}

.header .offcanvas-body .login-register {
  border-bottom: 1px solid #cccccc;
  text-align: center;
  color: black;
}

.header .offcanvas-body .login-register p {
  font-size: 1.3rem;
}

.header .offcanvas-body .login-register button {
  text-transform: capitalize;
  margin-top: 15px;
  padding: 10px;
  color: white;
  width: 250px;
  outline: none;
  border: none;
  margin-bottom: 10px;
  border-radius: 2px;
  background-color: #337ab7;
}

.header .offcanvas-body .login-register button:hover {
  background-color: #286090;
}

.header .lr-detail {
  padding: 20px;
}

.header .lr-detail h2 {
  font-size: 0.9rem;
  color: black;
}

.header .lr-detail p {
  cursor: pointer;
  margin: 6px 0;
  font-size: 0.8rem;
  color: #337ab7;
}

@media only screen and (max-width: 600px) {
  .main-nav .navbar-toggler {
    background-color: #215aae;
  }
  .main-nav ul li a p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

/** @format */
.footer {
  font-size: 1.3rem;
  margin-top: 25px;
  padding-top: 10px;
  color: white;
  text-align: center;
  background-color: black;
}

@media only screen and (max-width: 600px) {
  .footer {
    font-size: 1rem;
  }
}

/** @format */
@font-face {
  font-family: GothamCondensed;
  src: url("../fonts/gothamcondensed-book-webfont.woff");
}

body {
  font-family: GothamCondensed;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f7f2e0;
}

.main-banner {
  margin-top: 20px;
}

.main-banner .mb-heading h1 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: #1f4e79;
}

.main-slider {
  background-color: #f7f2e0;
  padding: 20px;
}

.main-slider img {
  height: 300px;
  border: 5px solid white;
}

.intro {
  background-color: #fcfaf4;
  color: #1f4e79;
  padding: 20px 80px;
}

.intro h1 {
  font-size: 2.5rem;
  text-align: center;
}

.intro p {
  margin-top: 15px;
  font-size: 1.6rem;
}

.action-points {
  padding: 10px 80px;
}

.action-points button {
  font-size: 1.2rem;
  margin-top: 20px;
  border-radius: 8px;
  background-color: #2e75b6;
  border: none;
  outline: none;
  width: 300px;
  height: 60px;
  padding: 10px;
}

.action-points button:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #1f4e79;
}

.action-points a {
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .main-banner h1 {
    font-size: 1.5rem;
  }
  .main-banner .mb-heading h1 {
    font-size: 1.7rem;
  }
  .intro {
    padding: 0;
    padding: 20px;
  }
  .intro h1 {
    padding: 0;
    font-size: 1.6rem;
  }
  .intro p {
    font-size: 1.3rem;
  }
  .action-points {
    overflow: hidden;
    padding: 0;
    text-align: center;
  }
  .main-slider {
    padding: 0px;
  }
  .main-slider img {
    width: 100%;
    height: 120px;
  }
}

/** @format */
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f7f2e0;
}

.seller-info table th {
  font-size: 1.4rem;
  outline: none;
  border: none;
  text-transform: capitalize;
  background-color: #c55a11;
  color: white;
}

.seller-info table td {
  font-size: 1.2rem;
  font-weight: bold;
  color: #1f4e79;
}

.afr-heading h1 {
  font-size: 3.2rem;
  margin: 0;
  text-transform: capitalize;
  text-align: center;
  color: white;
  background-color: #1f4e79;
  margin-top: 50px;
}

.avail-for-rent table th {
  font-size: 1.4rem;
  outline: none;
  border: none;
  text-transform: capitalize;
  background-color: #c55a11;
  color: white;
}

.avail-for-rent table td p {
  border: 1px solid #1f4e79;
  font-weight: bold;
  border-radius: 5px;
  font-size: 1.2rem;
  text-transform: capitalize;
  color: #1f4e79;
  background-color: white;
  padding: 5px;
  cursor: pointer;
}

.avail-for-rent table td p:hover {
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #1f4e79;
}

.rangedata table {
  overflow: scroll;
  background-color: #deebf7;
  height: 40vh;
  font-size: 1.4rem;
}

.rangedata table th {
  text-transform: capitalize;
  outline: none;
  border: none;
  color: #1f4e79;
}

@media only screen and (max-width: 600px) {
  .afr-heading {
    font-size: 2.5rem;
  }
  .seller-info table {
    width: 900px;
  }
  .avail-for-rent table {
    width: 900px;
  }
  .rangedata table {
    width: 900px;
  }
}

/** @format */
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.choose-reservation {
  border-bottom: 5px solid #d9d9d9;
  padding-bottom: 30px;
}

.choose-reservation .reservation-heading h1 {
  color: #063561;
  text-transform: uppercase;
  text-align: center;
  font-size: 3.5rem;
  font-weight: bold;
}

.choose-reservation .reservation-options {
  padding: 15px;
  border: 1px solid black;
  margin: 0 auto;
  width: 800px;
  border-radius: 12px;
  background-color: white;
}

.choose-reservation .res-option a {
  text-decoration: none;
  display: block;
  font-size: 1.4rem;
  font-weight: bold;
  color: #1f4e79;
  text-transform: capitalize;
  text-align: center;
  padding: 5px;
  border-radius: 12px;
  border: 1px solid black;
}

.choose-reservation .res-option a:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: white;
  background-color: #1f4e79;
}

.res-info h1 {
  min-height: 35vh;
  text-align: center;
  font-size: 3rem;
}

.rangeSlider {
  margin-top: 80px;
}

@media only screen and (max-width: 600px) {
  .choose-reservation .reservation-heading h1 {
    font-size: 2.5rem;
  }
  .choose-reservation .reservation-options {
    width: auto;
  }
  .choose-reservation .res-option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 5px;
  }
  .choose-reservation .res-option a {
    width: 210px;
    padding: 5px;
    font-size: 1.1rem;
  }
  .res-info h1 {
    font-weight: bold;
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=style.css.map */