/** @format */
$themeColor: #1f4e79;
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f7f2e0;
}
.header {
  z-index: 1000;
  .main-nav {
    text-transform: uppercase;
    background-color: #215aae;
    color: white;

    .main-brand-name {
      font-weight: bold;
      color: white;
      font-size: 1.5rem;
    }
    ul {
      li {
        display: inline;
        list-style: none;
        padding: 6px 15px;
        a {
          text-decoration: none;
          color: white;
          font-weight: bold;
          font-size: 1.3rem;
          p {
            cursor: pointer;
            margin: 0;
            text-align: center;
            font-size: 0.8rem;
          }
        }
      }
    }
  }
  .offcanvas {
    background-color: #fcfaf4;
  }
  .offcanvas-body {
    .login-register {
      text-align: center;
      color: black;
      p {
        font-size: 1.3rem;
      }
      button {
        text-transform: capitalize;
        margin-top: 15px;
        padding: 10px;
        color: white;
        width: 250px;
        outline: none;
        border: none;
        margin-bottom: 10px;
        border-radius: 2px;
        background-color: #337ab7;
        border-bottom: 1px solid #cccccc;
        &:hover {
          background-color: #286090;
        }
      }
    }
  }

  .lr-detail {
    padding: 20px;
    h2 {
      font-size: 0.8rem;
      color: black;
    }

    p {
      cursor: pointer;
      margin: 6px 0;

      font-size: 0.7rem;
      color: #337ab7;
    }
  }
}

.main-banner {
  margin-top: 20px;

  .mb-heading {
    h1 {
      text-align: center;
      color: #1f4e79;
    }
  }
}
.main-slider {
  background-color: #f7f2e0;
  padding: 20px;
  img {
    height: 300px;
    border: 5px solid white;
  }
}

.intro {
  background-color: #fcfaf4;
  color: $themeColor;
  padding: 20px 80px;
  //   text-align: center;
  h1 {
    font-size: 2rem;
    text-align: center;
    // font-weight: bold;
  }
  p {
    margin-top: 15px;
    font-size: 1.4rem;
  }
}
.action-points {
  padding: 10px 80px;
  button {
    margin-top: 20px;
    border-radius: 8px;
    background-color: #2e75b6;
    border: none;
    outline: none;
    width: 300px;
    height: 60px;
    padding: 10px;
    &:hover {
      transition: 0.5s;
      transform: scale(1.1);
      background-color: $themeColor;
    }
  }
  a {
    color: white;
    text-decoration: none;
  }
}
@media only screen and (max-width: 600px) {
  .main-nav {
    .navbar-toggler {
      background-color: #215aae;
    }
    ul {
      li {
        a {
          p {
            display: flex;
            justify-content: left;
          }
        }
      }
    }
  }

  .main-banner {
    // padding: 5px;
    h1 {
      font-size: 1.3rem;
    }
  }
  .intro {
    padding: 0;
    h1 {
      padding: 0;
      font-size: 1.3rem;
    }
    p {
      font-size: 1rem;
    }
    padding: 20px;
  }
  .action-points {
    overflow: hidden;
    padding: 0;
    text-align: center;
  }
  .main-slider {
    padding: 0;
    img {
      height: 120px;
    }
  }
}
.footer {
  margin-top: 25px;
  padding-top: 10px;
  color: white;
  text-align: center;
  background-color: black;
}
