/** @format */
/** @format */
.header {
  z-index: 1000;
}

.header .main-nav {
  text-transform: uppercase;
  background-color: #215aae;
  color: white;
}

.header .main-nav .main-brand-name {
  font-weight: bold;
  color: white;
  font-size: 1.5rem;
}

.header .main-nav ul li {
  display: inline;
  list-style: none;
  padding: 6px 15px;
}

.header .main-nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

.header .main-nav ul li a p {
  cursor: pointer;
  margin: 0;
  text-align: center;
  font-size: 0.9rem;
}

.header .offcanvas {
  background-color: #fcfaf4;
}

.header .offcanvas-body .login-register {
  border-bottom: 1px solid #cccccc;
  text-align: center;
  color: black;
}

.header .offcanvas-body .login-register p {
  font-size: 1.3rem;
}

.header .offcanvas-body .login-register button {
  text-transform: capitalize;
  margin-top: 15px;
  padding: 10px;
  color: white;
  width: 250px;
  outline: none;
  border: none;
  margin-bottom: 10px;
  border-radius: 2px;
  background-color: #337ab7;
}

.header .offcanvas-body .login-register button:hover {
  background-color: #286090;
}

.header .lr-detail {
  padding: 20px;
}

.header .lr-detail h2 {
  font-size: 0.9rem;
  color: black;
}

.header .lr-detail p {
  cursor: pointer;
  margin: 6px 0;
  font-size: 0.8rem;
  color: #337ab7;
}

@media only screen and (max-width: 600px) {
  .main-nav .navbar-toggler {
    background-color: #215aae;
  }
  .main-nav ul li a p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

/** @format */
.footer {
  font-size: 1.3rem;
  margin-top: auto;
  padding-top: 10px;
  color: white;
  text-align: center;
  background-color: black;
}

@media only screen and (max-width: 600px) {
  .footer {
    font-size: 1rem;
  }
}

/** @format */
@font-face {
  font-family: GothamCondensed;
  src: url("../fonts/gothamcondensed-book-webfont.woff");
}

body {
  font-family: GothamCondensed;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f7f2e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-banner {
  margin-top: 20px;
}

.main-banner .mb-heading h1 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  color: #1f4e79;
}

.main-slider {
  background-color: #f7f2e0;
  padding: 30px 70px;
}

.main-slider img {
  height: 250px;
  border: 5px solid white;
}

.intro {
  background-color: #fcfaf4;
  color: #1f4e79;
  padding: 20px 150px;
}

.intro h1 {
  font-size: 2.5rem;
  text-align: center;
}

.intro p {
  margin-top: 15px;
  font-size: 1.6rem;
}

.action-points {
  padding: 10px 130px;
}

.action-points button {
  font-size: 1.2rem;
  margin-top: 20px;
  border-radius: 8px;
  background-color: #2e75b6;
  border: none;
  outline: none;
  width: 250px;
  height: 50px;
  padding: 10px;
}

.action-points button:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #1f4e79;
}

.action-points a {
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .main-banner h1 {
    font-size: 1.5rem;
  }
  .main-banner .mb-heading h1 {
    font-size: 1.7rem;
  }
  .intro {
    padding: 0;
    padding: 20px;
  }
  .intro h1 {
    padding: 0;
    font-size: 1.6rem;
  }
  .intro p {
    font-size: 1.3rem;
  }
  .action-points {
    overflow: hidden;
    padding: 0;
    text-align: center;
  }
  .main-slider {
    padding: 0px;
  }
  .main-slider img {
    width: 100%;
    height: 120px;
  }
}

/** @format */
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f7f2e0;
}

.seller-info table th {
  font-size: 1.4rem;
  outline: none;
  border: none;
  text-transform: capitalize;
  background-color: #c55a11;
  color: white;
}

.seller-info table td {
  font-size: 1.2rem;
  font-weight: bold;
  color: #1f4e79;
}

.afr-heading h1 {
  width: 100%;
  font-size: 3.2rem;
  margin-top: 50px;
  margin-bottom: 0;
  text-transform: capitalize;
  text-align: center;
  color: white;
  background-color: #1f4e79;
}

.universal-table table th {
  font-size: 1.3rem;
  outline: none;
  border: none;
  text-transform: capitalize;
  background-color: #c55a11;
  color: white;
}

.universal-table table td {
  padding-top: 20px;
}

.universal-table table td p {
  font-weight: bold;
  border-radius: 5px;
  font-size: 1.2rem;
  text-transform: capitalize;
  color: #1f4e79;
  cursor: pointer;
}

.universal-table table td button {
  border: none;
  padding: none;
  padding: 4px;
  width: 60px;
  border-radius: 5px;
  background-color: #1f4e79;
  color: white;
}

.universal-table table tr:hover {
  background-color: #d7ead7;
}

.universal-table table tr:nth-child(even) {
  background-color: #fcfaf4;
}

.universal-table table tr:nth-child(even):hover {
  background-color: #d7ead7;
}

.rangedata table {
  overflow: scroll;
  background-color: #deebf7;
  height: 40vh;
  font-size: 1.4rem;
}

.rangedata table th {
  text-transform: capitalize;
  outline: none;
  border: none;
  color: #1f4e79;
}

@media only screen and (max-width: 600px) {
  .afr-heading {
    font-size: 1rem;
  }
  .seller-info table {
    width: 800px;
  }
  .universal-table table {
    width: 900px;
  }
  .rangedata table {
    width: 900px;
  }
}

/** @format */
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 70%;
}

.choose-reservation {
  border-bottom: 5px solid #d9d9d9;
  padding-bottom: 30px;
  width: 60%;
}

.choose-reservation .reservation-heading h1 {
  color: #063561;
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
}

.choose-reservation .reservation-options {
  padding: 15px;
  border: 1px solid black;
  margin: 0 auto;
  border-radius: 12px;
  background-color: white;
}

.choose-reservation .res-option a {
  text-decoration: none;
  display: block;
  font-size: 1.4rem;
  font-weight: bold;
  color: #1f4e79;
  text-transform: capitalize;
  text-align: center;
  padding: 5px;
  border-radius: 12px;
  border: 1px solid black;
}

.choose-reservation .res-option a:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: white;
  background-color: #1f4e79;
}

.res-info h1 {
  min-height: 35vh;
  text-align: center;
  font-size: 2.3rem;
}

.rangeSlider {
  margin-top: 80px;
}

@media only screen and (max-width: 600px) {
  .choose-reservation .reservation-heading h1 {
    font-size: 2.5rem;
  }
  .choose-reservation .reservation-options {
    width: auto;
  }
  .choose-reservation .res-option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 5px;
  }
  .choose-reservation .res-option a {
    width: 210px;
    padding: 5px;
    font-size: 1.1rem;
  }
  .res-info h1 {
    font-weight: bold;
    font-size: 1.5rem;
  }
}

/** @format */
.existing-reservation {
  margin-top: 30px;
  border-radius: 5px;
}

.res-range {
  padding-top: 80px;
  margin-top: 10px;
}

.land-selection .ls-heading h1 {
  color: #063561;
  font-size: 3rem;
  text-transform: capitalize;
  text-align: center;
}

.land-selection .fav-count {
  border-bottom: 3px solid #1f4e79;
}

.land-selection .fav-count ul li {
  padding: 5px 0;
  list-style-type: none;
}

.land-selection .fav-count ul li h2 {
  color: #1f4e79;
  font-size: 2.5rem;
}

.land-selection p {
  margin-top: 10px;
  border: 1px solid #1f4e79;
  font-weight: bold;
  width: 160px;
  border-radius: 5px;
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #1f4e79;
  background-color: white;
  padding: 3px;
  text-align: center;
  cursor: pointer;
}

.land-selection p:hover {
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #1f4e79;
}

@media only screen and (max-width: 600px) {
  .land-selection .ls-heading h1 {
    font-size: 2rem;
  }
}

/** @format */
.listingcustom .cv-heading h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2.5rem;
  color: #063561;
}

.listingcustom .cv-heading P {
  text-align: center;
  font-size: 1.8rem;
  color: #063561;
}

.listingcustom .cv-points h2 {
  text-transform: uppercase;
  color: #063561;
  font-size: 1.5rem;
}

.listingcustom .cv-points p {
  border-radius: 5px;
  padding: 7px;
  display: inline;
  border: 1px solid #063561;
  font-size: 1.1rem;
  text-transform: capitalize;
  color: #063561;
  width: 100px;
  cursor: pointer;
}

.listingcustom .cv-points p:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #063561;
  color: white;
}

.listingcustom .submit-btn button {
  background-color: #063561;
  color: white;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  border: none;
  outline: none;
  display: inline;
  padding: 5px;
  width: 100px;
  border: 1px solid #063561;
}

.listingcustom .submit-btn button:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #063561;
  background-color: white;
  border: 1px solid #063561;
}

.divider {
  border-radius: 5px;
  height: 2px;
  background-color: #d9d9d9;
}

@media only screen and (max-width: 600px) {
  .calander {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .cv-points h2 {
    margin-top: 20px;
  }
}

/** @format */
.date-selection h1 {
  font-size: 3rem;
  text-transform: capitalize;
  color: #063561;
}

.date-selection .date-picker input {
  outline: none;
  color: #063561;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.date-selection p {
  cursor: pointer;
  display: inline-block;
  padding: 0.8rem 1.2rem;
  border-radius: 5px;
  height: 3rem;
  width: 11rem;
  color: #063561;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.15rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  outline: none;
}

.date-selection p:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 5px;
  z-index: -2;
}

.date-selection p:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  background-color: #063561;
  border-radius: 5px;
  z-index: -1;
}

.date-selection p:hover {
  color: #fff;
}

.date-selection p:hover:before {
  width: 100%;
}

.cheackIn-out {
  padding: 30px 30px;
  border-radius: 5px;
  background-color: #afcbe667;
  text-transform: capitalize;
}

.cheackIn-out p {
  font-size: 1.8rem;
  color: #063561;
}

.cheackIn-out h1 {
  color: #063561;
}

.cheackIn-out input {
  color: #063561;
  text-transform: capitalize;
  padding: 0 10px;
  border-radius: 5px;
  font-size: 1.5rem;
  border: 2px solid #d2d1cf;
  outline: none;
}

.cheackIn-out input::-webkit-input-placeholder {
  color: #063561;
}

.cheackIn-out input:-ms-input-placeholder {
  color: #063561;
}

.cheackIn-out input::-ms-input-placeholder {
  color: #063561;
}

.cheackIn-out input::placeholder {
  color: #063561;
}

.points-table table {
  text-transform: capitalize;
}

.points-table table th {
  background-color: #063561;
  color: white;
}

.points-table tbody th {
  background-color: #478bca;
}

.points-table tbody tr:hover {
  background-color: #d7ead7;
}

.points-table tbody tr:nth-child(even) {
  background-color: #fcfaf4;
}

.points-table tbody tr:nth-child(even):hover {
  background-color: #d7ead7;
}

/** @format */
.main-title {
  text-transform: capitalize;
  text-align: center;
}

.main-title h1 {
  font-size: 3rem;
  color: #063561;
}

.main-title p {
  text-align: center;
  font-size: 1.4rem;
  color: #063561;
}

.main-title a button {
  margin-top: 20px;
  text-transform: capitalize;
  border-radius: 5px;
  border: 1px solid #063561;
  padding: 5px 50px;
  font-size: 1.5rem;
  width: 80%;
  color: #063561;
  background-image: linear-gradient(45deg, #063561 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

.main-title a button:hover {
  color: white;
  background-position: 0;
}

@media only screen and (max-width: 600px) {
  .main-title p {
    font-size: 1.2rem;
  }
  .main-title a button {
    width: 100%;
  }
}

/** @format */
.hiw-members p {
  text-align: center;
  color: #063561;
  font-size: 1.3rem;
}

.hiw-members .hiw-option {
  margin: 20px 0;
  border-radius: 3px;
  padding: 20px;
  background-color: #c4d2e9;
  cursor: pointer;
}

.hiw-members .hiw-option h1 {
  display: inline;
  font-size: 1.4rem;
  font-weight: bold;
  color: #063561;
}

.hiw-members .hiw-option p {
  color: #063561;
  text-align: left;
  font-size: 1.3rem;
  display: inline;
}

.hiw-members .hiw-option:hover {
  background-color: #a0bce5;
}

/** @format */
.hiw-renters p {
  text-align: center;
  color: #063561;
  font-size: 1.4rem;
}

.hiw-renters .hiw-option {
  margin: 20px 0;
  border-radius: 3px;
  padding: 20px;
  background-color: #c4d2e9;
  cursor: pointer;
}

.hiw-renters .hiw-option h1 {
  display: inline;
  font-size: 1.4rem;
  font-weight: bold;
  color: #063561;
}

.hiw-renters .hiw-option p {
  color: #063561;
  text-align: left;
  font-size: 1.3rem;
  display: inline;
}

.hiw-renters .hiw-option:hover {
  background-color: #a0bce5;
}

.hiw-renters a button {
  margin-top: 20px;
  text-transform: capitalize;
  border-radius: 5px;
  border: 1px solid #063561;
  padding: 5px 50px;
  font-size: 1.5rem;
  width: 80%;
  color: #063561;
  background-image: linear-gradient(45deg, #063561 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}

.hiw-renters a button:hover {
  color: white;
  background-position: 0;
}

@media only screen and (max-width: 600px) {
  a button {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */